.card5-share-main{
}
.card5-share-main .bg{background-size:contain;width:100%;height:100%;left:0;top:0;background-repeat:no-repeat;}
.card5-share-main .avatar{border-radius:50%;border:2px solid #fff;display:none;}
.card5-share-main .text{color:#323232;font-size:2vw;text-align:center;display:none;}
.card5-share-main .text .name{color:#fff;font-size:4vw;}
.card5-share-main .me{width:45%;height:23%;top:26%;left:28%;z-index:1;}
.card5-share-main .me .avatar{width:40%;height:40%;left:27%;top:19%;border-radius:50%;display:block;}
.card5-share-main .me .name{top:63%;left:30%;width:40%;font-size:3vw;text-align:center}
.card5-share-main .me .bg{background-image:url(../images/new/card-5-share/me.png);}
.card5-share-main .friend1{width:37%;height:15%;top:12%;left:30%;}
.card5-share-main .friend1 .bg{background-image:url(../images/new/card-5-share/friend1.png);}
.card5-share-main .friend1.shared .bg{background-image:url(../images/new/card-5-share/friend1-1.png);}
.card5-share-main .friend1.shared{top:15.5%;left:30.5%;}
.card5-share-main .friend1.shared .avatar{width:20%;right:4%;display:block;}
.card5-share-main .friend1.shared .text{width:63%;left:20%;top:30%;display:block;}

.card5-share-main .friend2{width:33%;height:20%;top:18%;left:67%;}
.card5-share-main .friend2 .bg{background-image:url(../images/new/card-5-share/friend2.png);}
.card5-share-main .friend2.shared .bg{background-image:url(../images/new/card-5-share/friend2-1.png);}
.card5-share-main .friend2.shared{top:20%;left:61%;}
.card5-share-main .friend2.shared .avatar{width:20%;right:22%;display:block;}
.card5-share-main .friend2.shared .text{width:50%;left:20%;top:40%;display:block;}

.card5-share-main .friend3{width:37%;height:15%;top:46%;left:55%;}
.card5-share-main .friend3 .bg{background-image:url(../images/new/card-5-share/friend3.png);}
.card5-share-main .friend3.shared .bg{background-image:url(../images/new/card-5-share/friend3-1.png);}
.card5-share-main .friend3.shared{top:42%;left:51%;}
.card5-share-main .friend3.shared .avatar{width:20%;right:1%;top:28%;display:block;}
.card5-share-main .friend3.shared .text{width:63%;left:20%;top:43%;display:block;}

.card5-share-main .friend4{width:39%;height:19%;top:42%;left:6%;}
.card5-share-main .friend4 .bg{background-image:url(../images/new/card-5-share/friend4.png);}
.card5-share-main .friend4.shared .bg{background-image:url(../images/new/card-5-share/friend4-1.png);}
.card5-share-main .friend4.shared{top:39%;left:11%;}
.card5-share-main .friend4.shared .avatar{width:20%;left:1.5%;top:34%;display:block;}
.card5-share-main .friend4.shared .text{width:63%;left:30%;top:45%;display:block;}

.card5-share-main .friend5{width:35%;height:22%;top:18%;left:2%;}
.card5-share-main .friend5 .bg{background-image:url(../images/new/card-5-share/friend5.png);}
.card5-share-main .friend5.shared .bg{background-image:url(../images/new/card-5-share/friend5-1.png);}
.card5-share-main .friend5.shared{top:19.5%;left:8%;}
.card5-share-main .friend5.shared .avatar{width:22%;left:32%;top:2%;display:block;}
.card5-share-main .friend5.shared .text{width:63%;left:10%;top:50%;display:block;}

.card5-share-text{background-color:#f6f0e4;font-size:14px;padding:5%;}
.card5-share-text p{padding-bottom:8%;}
.share-guide-layer{background-color:rgba(0,0,0,.5);position:fixed;top:0;left:0;z-index:1001;width:100%;height:100%;
    background-image:url(../images/new/card-5-share/share_guide.png);
    background-repeat:no-repeat;background-position:97% 2%;background-size:40%;
}