<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>fdfdfdfd</title>
</head>
<body th:inline="text">
<p><span>商品名称:</span><b>[[${product.name}]]</b></p>
<!--<p><span th:each="option:${product.productOptions}"><span th:text="${option.attributeName}"></span><span th:text="${option.allowedValues[0].attributeValue}"></span></span></p>-->
<p><span th:each="attribute:${product.productAttributes}">
    [[${attribute.key}]]:[[${attribute.value}]]<br/>
</span></p>
<p>库存:[[${product.defaultSku.quantityAvailable}]]件</p>
<p>销售量:[[${product.skus[0].skuAttributes["销售量"]}]]件</p>
</body>
</html>