<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);

    </script>
    <script type="text/javascript">
        $(function () {

            function win_load() {
                var win_h = $(window).width();
                var con_w = (win_h - 34) / 2;
                $(".card-box").width(con_w);
                $(".card-box .img").height(con_w);
            }

            win_load();

            $(window).resize(function () {
                win_load();
            });

        })
    </script>
</head>
<body>
<!-- header -->
<div class="header"></div>
<header>
    <div class="l-img"><img src="../images/in_1_01.png" height="30"/></div>
    <div class="r-img"><img src="../images/in_1_03.png" height="30"/></div>
    <div class="text"><img src="../images/in_1_05.png" height="30"/></div>
</header>

<!-- 活动规则 -->
<div class="hdgz">
    <em></em>
    <a href="#">活动<br/>规则</a>
</div>

<!-- 人气爆品 -->
<div class="hidden"><img src="../images/in_03.png" width="100%"/></div>
<div class="home-hot">
    <div th:replace="layout/partials/slider::slider"></div>
</div>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script language="javascript">
    var mySwiper = new Swiper('.swiper-container', {
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        pagination: '.swiper-pagination',
        loop: true,
        loopAdditionalSlides: 1,
    })
</script>
<!-- menu -->
<div th:replace="/layout/partials/menu::menu"></div>

<!-- 五折 -->
<div class="card-5"><img src="../images/in_42.jpg" width="100%"/></div>
<div class="hidden"><img src="../images/youl_02.jpg" width="100%"/></div>
<!--商品列表-->
<div th:replace="/catalog/partials/productList::productList(showAdd=true)"></div>
<blc:form th:id="addToCartForm" th:action="@{/cart/add}"></blc:form>
<!-- 浮层 -->
<div class="float-layer none">
    <div class="volume">
        <div class="box">
            <div class="t-img">
                <img src="../images/qk_03.png" width="90%" class="img"/>
                <img src="../images/qk_03.png" width="90%" style="opacity:0;"/>
            </div>
            <div class="con"><img src="../images/volume_3.png" height="100%"/></div>
            <div class="hidden btn">
                <a href="#"><img src="../images/qk_11.png" height="25"/></a>
                <a href="#"><img src="../images/qk_13.png" height="25"/></a>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/footer::footer"></div>
<script type="text/javascript">
    $(function () {
        //添加购物车绑定事件
        $(".addToCartBtn img").click(function (e) {
            e.preventDefault();
            var quantityavailable = $(this).data("quantityavailable");
            if(!quantityavailable) {
                alert("暂时无货");
                return;
            }
            var url = $("#addToCartForm").attr("action");
            var productId = $(this).data("productid");
            var quantity = 1;
            var csrfToken = $('input[name="csrfToken"]').val();
            $.ajax({
                method: "post",
                url: url,
                data: {
                    productId: productId,
                    quantity: quantity,
                    csrfToken: csrfToken
                },
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
            }).fail(function (data) {
                console.log(data);
                location.reload();
            });
        });
    });
</script>
</body>
</html>