<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="../css/swiper.min.css"/>
<link type="text/css" href="../css/style.css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/fastclick.js"></script>
<script type="text/javascript">
window.addEventListener('load', function() {
	FastClick.attach(document.body);
}, false);

</script>
<script type="text/javascript">
$(function(){

	function win_load(){
		var win_h = $(window).width();
		var con_w = (win_h-34)/2;
		$(".card-box").width(con_w);
		$(".card-box .img").height(con_w);
	}
	win_load();

	$(window).resize(function() {
		win_load();
	});
	
})
</script>
</head>
<body>
<!-- header -->
<div class="header"></div>
<header>
	<div class="l-img"><img src="../images/in_1_01.png" height="30"></div>
	<div class="r-img"><img src="../images/in_1_03.png" height="30"></div>
	<div class="text"><img src="../images/in_1_05.png" height="30"></div>
</header>

<!-- 活动规则 -->
<div class="hdgz">
	<em></em>
	<a href="#">活动<bR>规则</a>
</div>

<!-- 人气爆品 -->
<div class="hidden"><img src="../images/in_03.png" width="100%"></div></div>
<div class="home-hot">
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	    	<!---->
	        <div class="swiper-slide">
	        	<div class="explosive"><img src="../images/in_06.png" height="60%"></div>
	        	<div class="img"><img src="../images/ii_11.png" height="100"></div>
	        	<div class="text">
	        		<div class="t hidden">香奈儿清香黛尔香氛香奈儿清香黛尔香氛50ml</div>
	        		<div class="pice hidden">
	        			<span>￥909</span>
	        			<font>￥1024</font>
	        		</div>
	        		<div class="hidden btn"><a href="#"><img src="../images/in_09.png" height="25"></a></div>
	        	</div>
	        </div>
	    	<!---->
	        <div class="swiper-slide">
	        	<div class="explosive"><img src="../images/in_06.png" height="60%"></div>
	        	<div class="img"><img src="../images/ii_11.png" height="100"></div>
	        	<div class="text">
	        		<div class="t hidden">香奈儿清香黛尔香氛香奈儿清香黛尔香氛50ml</div>
	        		<div class="pice hidden">
	        			<span>￥909</span>
	        			<font>￥1024</font>
	        		</div>
	        		<div class="hidden btn"><a href="#"><img src="../images/in_09.png" height="25"></a></div>
	        	</div>
	        </div>
	    	<!---->
	        <div class="swiper-slide">
	        	<div class="explosive"><img src="../images/in_06.png" height="60%"></div>
	        	<div class="img"><img src="../images/ii_11.png" height="100"></div>
	        	<div class="text">
	        		<div class="t hidden">香奈儿清香黛尔香氛香奈儿清香黛尔香氛50ml</div>
	        		<div class="pice hidden">
	        			<span>￥909</span>
	        			<font>￥1024</font>
	        		</div>
	        		<div class="hidden btn"><a href="#"><img src="../images/in_09.png" height="25"></a></div>
	        	</div>
	        </div>
	    	<!---->
	    </div>
	</div>
    <div class="bottom-box">
	    <div class="swiper-button-prev"><img src="../images/in_14.png" height="15"></div>
	    <div class="swiper-pagination"></div>
	    <div class="swiper-button-next"><img src="../images/in_16.png" height="15"></div>
    </div>
</div>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script language="javascript"> 
	var mySwiper = new Swiper('.swiper-container',{
		prevButton:'.swiper-button-prev',
		nextButton:'.swiper-button-next',
		pagination:'.swiper-pagination',
		loop:true,
		loopAdditionalSlides:1,
	})
</script>

<!-- menu -->
<div class="menu">
	<a href="#"><img src="../images/in_21.png"></a>
	<a href="#"><img src="../images/in_21-09.png"></a>
	<a href="#"><img src="../images/in_21-10.png"></a>
	<a href="#"><img src="../images/in_21-11.png"></a>
	<a href="#"><img src="../images/in_21-12.png"></a>
</div>

<!-- 五折 -->
<div class="card-5"><img src="../images/in_42.jpg" width="100%"></div>
<div class="hidden"><img src="../images/youl_02.jpg" width="100%"></div>
<div class="five-card hidden">

	<div class="card-box">
		<span class="unlock">解锁预购</span>
	    <div class="img" style="background-image:url(../images/jjj_03.jpg);"></div>
		<div class="t hidden">香奈儿清香黛尔香氛50ml</div>
		<div class="pice hidden">
			<span>￥909</span>
			<font>￥1024</font>
		</div>
		<div class="hidden btn"><a href="#"><img src="../images/in_48.png" height="25"></a></div>
	</div>

	<div class="card-box">
	    <div class="img" style="background-image:url(../images/jjj_03.jpg);"></div>
		<div class="t hidden">香奈儿清香黛尔香氛50ml</div>
		<div class="pice hidden">
			<span>￥909</span>
			<font>￥1024</font>
		</div>
		<div class="hidden btn"><a href="#"><img src="../images/in_48.png" height="25"></a></div>
	</div>


	<div class="card-box">
	    <div class="img" style="background-image:url(../images/jjj_03.jpg);"></div>
		<div class="t hidden">香奈儿清香黛尔香氛50ml</div>
		<div class="pice hidden">
			<span>￥909</span>
			<font>￥1024</font>
		</div> 
		<div class="hidden btn"><a href="#"><img src="../images/in_48_h.png" height="25"></a></div>
	</div>

	<div class="card-box">
	    <div class="img" style="background-image:url(../images/jjj_03.jpg);"></div>
		<div class="t hidden">香奈儿清香黛尔香氛50ml</div>
		<div class="pice hidden">
			<span>￥909</span>
			<font>￥1024</font>
		</div>
		<div class="hidden btn"><a href="#"><img src="../images/in_48_h.png" height="25"></a></div>
	</div>

</div>

<div class="card-5"><img src="../images/udj_03.jpg" width="100%"></div>
<div class="five-card hidden">
	<div class="card-box">
		<span class="unlock">女王秘籍</span>
	    <div class="img" style="background-image:url(../images/jjj_03.jpg);"></div>
		<div class="t hidden">香奈儿清香黛尔香氛50ml</div>
		<div class="pice hidden">
			<span>￥909</span>
			<font>￥1024</font>
		</div> 
		<div class="hidden btn"><a href="#"><img src="../images/in_48_h.png" height="25"></a></div>
	</div>

	<div class="card-box">
		<span class="unlock">女王秘籍</span>
	    <div class="img" style="background-image:url(../images/jjj_03.jpg);"></div>
		<div class="t hidden">香奈儿清香黛尔香氛50ml</div>
		<div class="pice hidden">
			<span>￥909</span>
			<font>￥1024</font>
		</div>
		<div class="hidden btn"><a href="#"><img src="../images/in_48_h.png" height="25"></a></div>
	</div>

</div>

<!-- 浮层 -->
<div class="float-layer none">
	<div class="volume">
		<div class="box">
			<div class="t-img">
				<img src="../images/qk_03.png" width="90%" class="img">
				<img src="../images/qk_03.png" width="90%" style="opacity:0;">
			</div>
			<div class="con"><img src="../images/volume_3.png" height="100%"></div>
			<div class="hidden btn">
				<a href="#"><img src="../images/qk_11.png" height="25"></a>
				<a href="#"><img src="../images/qk_13.png" height="25"></a>
			</div>
		</div>
	</div>
</div>

</body>
</html>