<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="/partials/title::title"></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);

    </script>
    <script type="text/javascript">
        $(function () {

            function win_load() {
                var win_h = $(window).width();
                var con_w = (win_h - 34) / 2;
                $(".card-box").width(con_w);
                $(".card-box .img").height(con_w);
            }

            win_load();

            $(window).resize(function () {
                win_load();
            });

        })
    </script>
</head>
<body class="has-tabbar" th:inline="text"
      th:attr="data-show-new-share-coupon-dialog=${showNewShareCouponDialog},data-show-fiveCard-alert=${showFiveCardAlert},data-activate-five-card-url=@{/fiveCard/activate}">
<div class="img-panel">
    <img src="images/new/index/head.jpg"/>
    <a th:class="link" th:href="@{/fiveCard/guide}" style="width:12%;height:19%;top:10%;right:2%;"></a>
</div>

<!-- 人气爆品 -->
<div class="home-hot">
    <div th:replace="layout/partials/slider::slider"></div>
</div>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script language="javascript">
    var mySwiper = new Swiper('.swiper-container', {
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        pagination: '.swiper-pagination',
        loop: true,
        loopAdditionalSlides: 1,
    })
</script>
<!-- menu -->
<div th:replace="/layout/partials/menu::menu"></div>

<!-- 五折 -->
<div class="card-5"><img src="../images/in_42.jpg" th:id="getFiveCard" width="100%"/></div>
<div class="hidden"><img src="../images/new/index/index1.jpg" width="100%"/></div>
<!--商品列表-->
<div th:replace="/catalog/partials/productList::productList(showAdd=true)"></div>
<blc:form th:id="addToCartForm" th:action="@{/cart/add}"></blc:form>
<!-- A卡用户通过分享获取优惠券时的通知浮层 -->
<div th:if="${showNewShareCouponDialog}" th:remove="tag">
    <div th:replace="/coupon/coupon_window::couponWindow('10','',${showNewShareCouponDialog})"></div>
</div>
<!-- 通知用户激活五折卡浮层 -->
<div th:if="${showFiveCardAlert}" th:remove="tag">
    <div th:replace="/fivecard/partials/fivecard_window::fiveCardWindow(visible=${showFiveCardAlert})"></div>
</div>
<div th:replace="partials/footer::footer"></div>
<script type="text/javascript">
    $(function () {
        $("#getFiveCard").click(function () {
            location.href = "[[@{/fiveCard/issue}]]";
        })
    });
</script>
</body>
</html>