<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);

    </script>
    <script type="text/javascript">
        $(function () {

            function win_load() {
                var win_h = $(window).width();
                var con_w = (win_h - 34) / 2;
                $(".card-box").width(con_w);
                $(".card-box .img").height(con_w);
            }

            win_load();

            $(window).resize(function () {
                win_load();
            });

        })
    </script>
</head>
<body class="has-tabbar" th:inline="text">
<div class="img-panel">
	<img src="images/new/index/head.jpg"/>
	<a th:class="link" th:href="@{/fiveCard/guide}" style="width:12%;height:19%;top:10%;right:2%;"></a>
</div>

<!-- 人气爆品 -->
<div class="home-hot">
	<div th:replace="layout/partials/slider::slider" ></div>
</div>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script language="javascript">
    var mySwiper = new Swiper('.swiper-container', {
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        pagination: '.swiper-pagination',
        loop: true,
        loopAdditionalSlides: 1,
    })
</script>
<!-- menu -->
<div th:replace="/layout/partials/menu::menu"></div>

<!-- 五折 -->
<div class="card-5"><img src="../images/in_42.jpg" th:id="getFiveCard" width="100%"/></div>
<div class="hidden"><img src="../images/new/index/index1.jpg" width="100%"/></div>
<!--商品列表-->
<div th:replace="/catalog/partials/productList::productList(showAdd=true)"></div>
<blc:form th:id="addToCartForm" th:action="@{/cart/add}"></blc:form>
<!-- 浮层 -->
<!--<div class="float-layer none">
    <div class="volume">
        <div class="box">
            <div class="t-img">
                <img src="../images/qk_03.png" width="90%" class="img"/>
                <img src="../images/qk_03.png" width="90%" style="opacity:0;"/>
            </div>
            <div class="con"><img src="../images/volume_3.png" height="100%"/></div>
            <div class="hidden btn">
                <a href="#"><img src="../images/qk_11.png" height="25"/></a>
                <a href="#"><img src="../images/qk_13.png" height="25"/></a>
            </div>
        </div>
    </div>
</div>
-->
<!--新弹窗推荐使用新弹窗-->
<!--恭喜激活五折卡弹窗，不同的弹窗更新里面的图片和文字即可-->
<div class="window none">
	<div class="window-content">
		<div class="head">
			<div class="container">激活五折卡</div>
		</div>
		<div class="middle">
			<img th:src="@{/images/new/index/card-5.jpg}" width="60%"/>
			<div class="text">哎哟，不错哟~爆品解锁啦，<a>立刻查看</a></div>
		</div>
		<div class="bottom">
             <a href="#"><img th:src="@{/images/qk_13.png}"/></a>
		</div>
	</div>
</div>
<div th:replace="partials/footer::footer"></div>
<script type="text/javascript">
    $(function () {
        $("#getFiveCard").click(function () {
            location.href = "[[@{/fiveCard/issue}]]";
        })
    });
</script>
</body>
</html>