<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="/partials/title::title"></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>
<body th:inline="text" class="has-navbar has-tabbar" th:attr="data-show-coupon-window=${param.showCoupon !=null}">
<!-- header -->
<header>
    <div class="container">
		<div class="left">
		</div>
		
		<div class="center">我的订单</div>
		<div class="right"></div>
	</div>
</header>

<!--info-->
<!--<div class="pb-box">
<div class="order-fillIn-img" style="height:100px;">
<div class="img"></div>
</div>
</div>-->

<div style="position:absolute;bottom:44px;top:44px;width:100%;" class="vertical-middle-box"  th:if="${orders.size()==0}">
    <div class="content">
        <div class="card-volume-empty" style="padding-top:0;">
            <img width="50%" src="/images/empty-orderlist.png" />
        </div>
    </div>
</div>
<!--order list-->
<div th:each="order:${orders}" th:remove="tag" th:with="totalQuantity=0">
    <div th:class="'myorder-tt'+${order.status.type eq 'CANCELLED'?' bg-gray':(order.status.type eq 'PAID'?' bg-order-success':'')}">
        <span class="fl"><em></em>[[${order.orderNumber}]]</span>
        <span class="fr" th:if="${order.status.type eq 'UNPAID'}" th:text="待支付"></span>
        <span class="fr" th:if="${order.status.type eq 'PAID'}">提货门店:[[${order.address.shop.name}]]</span>
        <span class="fr" th:if="${order.status.type eq 'CONSUMED'}"></span>
        <span class="fr" th:if="${order.status.type eq 'CANCELLED'}"></span>
    </div>

    <div class="myorder-list hidden" th:each="item:${order.orderItems}" th:object="${item}" th:attr="totalQuantity=totalQuantity+ *{quantity}">
        <div class="box">
            <div class="img"><img th:src="@{/images/ii_11.png}"/></div>
            <div class="text">
                <div class="title" th:text="*{name}">香奈儿清香黛尔香氛香奈儿清香黛尔香氛香奈儿清香黛尔香氛</div>
                <div class="spec" th:object="${item.product}">
                    <span th:each="attr:*{productAttributes}" th:remove="tag"> [[${attr.key}]]：[[${attr.value}]]</span>
                </div>
            </div>
            <div class="r">
                <div class="pice salePrice">¥[[*{salePrice}]]</div>
                <div class="o retailPrice">¥[[*{retailPrice}]]</div>
                <div class="s quantity">X[[*{quantity}]]</div>
            </div>
        </div>
    </div>
    <div class="order-list-address-tips" th:if="${order.status.type eq 'PAID'}" th:text="'提货地址：'+${order.address.shop.address}"></div>
    <div class="order-list-tips" th:if="${order.status.type eq 'UNPAID'}">只剩下[[${15-(now.time - order.submitDate.time)/60000}]]分钟,这个订单就要被取消了,快快付款带我回家吧</div>
    <div th:class="'affirm-sum-money'+${order.status.type eq 'CANCELLED'?' bg-gray':(order.status.type eq 'PAID'?' bg-order-success':'')}">
        <div class="sum-money">共[[${order.itemCount}]]件商品 合计:￥[[${order.total}]]</div>
        <!--<a th:href="@{'/account/orders/cancel/'+${order.id}}" th:if="${order.status.type eq 'UNPAID'}">取消订单</a>-->
        <a th:href="@{'/pickup?orderId='+${order.id}}" th:if="${order.status.type eq 'PAID'}">我要提货</a>
        <a th:href="@{'/wechatpay/index/pay?orderId='+${order.id}}" th:if="${order.status.type eq 'UNPAID'}">立即付款</a>
        <a style="background-color:transparent;" href="javascript:void(0)" th:if="${order.status.type eq 'CONSUMED'}">提货成功</a>
        <a style="background-color:transparent;" href="javascript:void(0)" th:if="${order.status.type eq 'CANCELLED'}">已取消</a>
    </div>
</div>
<!---->
<div th:if="${showCoupon==true and couponValue== 5}" th:replace="/coupon/coupon_window::couponWindow(${couponValue},'',${showCoupon})"></div>
<div class="footer"></div>
<div th:replace="partials/footer::footer"></div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $(".mnus").on("click", function () {
            var num = parseInt($("#number").val());
            if (num > 1) {
                num--
                $("#number").val(num);
            }
        });
        $(".add").on("click", function () {
            var num = parseInt($("#number").val());
            num++
            $("#number").val(num);
        });
        //填写卡券描述
        var queryParam = decodeURIComponent(location.search).split("=");
        if(queryParam.length==4) {
            $("body > div.window > div > div.middle > span:nth-child(3)").text(queryParam[3]);
        }
    });
</script>