<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>
<body th:inline="text" >
<!-- header -->
<div class="header"></div>
<header>
    <div class="l-img"><img th:src="@{/images/in_1_01.png}" height="30"/></div>
    <div class="r-img"><img th:src="@{/images/in_1_03.png}" height="30"/></div>
    <div class="text">我的订单</div>
</header>

<!--info-->
<!--<div class="pb-box">-->
<!--<div class="order-fillIn-img" style="height:100px;">-->
<!--<div class="img"></div>-->
<!--</div>-->
<!--</div>-->


<!--order list-->
<div th:each="order:${orders}" th:remove="tag" th:with="totalQuantity=0">
    <div class="myorder-tt">
        <span class="fl"><em></em>[[${order.orderNumber}]]</span>
        <span class="fr">[[${order.status.type}]]</span>
    </div>

    <div class="myorder-list hidden" th:each="item:${order.orderItems}" th:object="${item}" th:attr="totalQuantity=totalQuantity+ *{quantity}">
        <div class="box">
            <div class="img"><img th:src="@{/images/ii_11.png}"/></div>
            <div class="text">
                <div class="title" th:text="*{name}">香奈儿清香黛尔香氛香奈儿清香黛尔香氛香奈儿清香黛尔香氛</div>
                <div class="spec" th:object="${item.product}">
                    <span th:each="attr:*{productAttributes}" th:remove="tag"> [[${attr.key}]]：[[${attr.value}]]</span>
                </div>
            </div>
            <div class="r">
                <div class="pice salePrice">¥[[*{salePrice}]]</div>
                <div class="o retailPrice">¥[[*{retailPrice}]]</div>
                <div class="s quantity">X[[*{quantity}]]</div>
            </div>
        </div>
    </div>

    <div class="affirm-sum-money">
        <div class="sum-money">共[[${#aggregates.sum(1)}]]件商品 合计:￥[[${order.total}]]</div>
        <a href="#">取消订单</a>
    </div>
</div>
<!---->
<div class="footer"></div>
<div th:replace="partials/footer::footer"></div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $(".mnus").on("click", function () {
            var num = parseInt($("#number").val());
            if (num > 1) {
                num--
                $("#number").val(num);
            }
        });
        $(".add").on("click", function () {
            var num = parseInt($("#number").val());
            num++
            $("#number").val(num);
        });
    });
</script>