<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="/partials/title::title"></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>
<body th:inline="text" class="has-navbar has-tabbar" style="padding-bottom:79px;">
<!-- header -->
<!--<div class="header"></div>
<header>
    <div class="l-img"><img th:src="@{/images/in_1_01.png}" height="30"/></div>
    <div class="r-img"><img th:src="@{/images/in_1_03.png}" height="30"/></div>
    <div class="text">我的购物车</div>
</header>-->
<header>
    <div class="container">
        <div class="left">
        </div>

        <div class="center">我的购物车</div>
        <div class="right"></div>
    </div>
</header>

<!--空购物车提示信息-->
<!--<div th:unless="${(cart.total ne null) and (cart.total.amount gt 0)}" th:remove="tag">-->
	<div id="cart_empty_panel" th:style="'position:absolute;bottom:44px;top:44px;width:100%;display:'+${((cart.total ne null) and (cart.total.amount gt 0))?'none':'block'}" class="vertical-middle-box">
		<div class="content">
			<div class="card-volume-empty" style="padding-top:0;">
				<img th:src="@{/images/gwc_empty_03.jpg}" width="50%"/>
			</div>
			<div class="card-volume-empty">
				<a th:href="@{/index}">马上去购买</a>
			</div>
		</div>
	</div>
<!--</div>-->
<!--购物车详细信息-->
<div th:if="${(cart.total ne null) and (cart.total.amount gt 0)}" th:remove="tag">
    <div class="shop-car-list hidden" style="padding:0;">
        <div class="box" th:each="item:${cart.orderItems}" th:object="${item}">
            <div class="img"><img th:src="@{*{sku.skuMedia['primary'].url}}"/></div>
            <div class="text">
                <div class="title" th:text="*{name}">香奈儿清香黛尔香氛香奈儿清香黛尔香氛香奈儿清香黛尔香氛</div>
                <div class="spec">
                    <div th:each="attr:*{product.productAttributes}" th:remove="tag">[[${attr.key}]]:[[${attr.value}]]
                    </div>
                </div>
                <div class="pice" th:attr="price=*{price}">¥[[*{price}]]</div>
                <div class="num">
                    <div class="bx" th:attr="itemid=${item.id},csrfToken=${session.csrfToken},productid=${item.product.id},productlimit=${item.product.limit}">
                        <span th:class="'mnus'+*{quantity==1?' disable':''}">-</span>
                        <span class="number"><input type="text" id="number" th:value="*{quantity}"/></span>
                        <span class="add">+</span>
                    </div>
                </div>
            </div>
            <!--<a th:href="@{'/cart/remove?orderItemId='+*{id}}" class="del">删除</a>-->
            <a class="del" th:attr="itemid=${item.id},csrfToken=${session.csrfToken},productid=${item.product.id},productlimit=${item.product.limit}">删除</a>
        </div>
    </div>


    <div class="affirm-sum-money fixed-bottom">
        <!--<div class="tishi">-->
            <!--15分钟未支付将自动取消订单-->
        <!--</div>-->
        <div class="sum-money">共<span id="cart_total_count">[[${cart.itemCount}]]</span>件商品 合计:￥<span id="cart_total_price">[[${cart.total}]]</span></div>
        <a th:href="@{/checkout}">去结算</a>
        <!--<a th:href="@{/cart/empty}">取消订单</a>-->
    </div>
</div>
<div class="footer"></div>
<div th:replace="partials/footer::footer"></div>
<blc:form th:id="updateCartForm" th:action="@{/cart/updateQuantity}" th:method="post">
    <input type="hidden" name="orderItemId"/>
    <input type="hidden" name="quantity"/>
</blc:form>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $(".mnus").click(function () {
            if($(this).hasClass("disable"))return;
            var parent = $(this).parent();
            var current = parseInt(parent.find("input").val());
            if (current > 1) {
                addProductToCart.call(this,{
                    productId:parent.attr("productid"),
                    orderItemId:parent.attr("itemid"),
                    csrfToken:parent.attr("csrfToken"),
                    quantity:current-1
                });
            }
        });
        $(".add").click(function () {
            if($(this).hasClass("disable"))return;
            var parent = $(this).parent();
            var current = parseInt(parent.find("input").val());
            addProductToCart.call(this,{
                productId:parent.attr("productid"),
                orderItemId:parent.attr("itemid"),
                csrfToken:parent.attr("csrfToken"),
                quantity:current+1
            });
        });
        $(".del").click(function(){
            addProductToCart.call(this,{
                productId:$(this).attr("productid"),
                orderItemId:$(this).attr("itemid"),
                csrfToken:$(this).attr("csrfToken"),
                quantity:0
            });
        });
        //修改购物车--增加物品数量
//        $(".bx").find(".add").click(function (e) {
//            e.preventDefault();
//            updateCartItem.call(this);
//        });
//        //修改购物车--减少物品数量
//        $(".bx").find(".mnus").click(function (e) {
//            e.preventDefault();
//            updateCartItem.call(this);
//        });
        //更新购物车数量
        function updateCartItem() {
            var orderItemId = $(this).parents(".bx").data("itemid");
            var cartItemCount = $(this).siblings(".number").find("input").val();
            $('input[name="orderItemId"]').val(orderItemId);
            $('input[name="quantity"]').val(cartItemCount);
            $("#updateCartForm")[0].submit();
        }

        function getCsrfToken() {
            var csrfTokenInput = $('input[name="csrfToken"]');
            if (csrfTokenInput.length == 0) {
                return null;
            }

            return csrfTokenInput.val();
        }
        function addProductToCart(param) {
            $(this).addClass("disable");
            var __this = this;
            $.ajax({
                method: "post",
                url: "/cart/updateQuantity",
                data: {
                    productId: param.productId,
                    quantity: param.quantity,
                    csrfToken: param.csrfToken,
                    orderItemId:param.orderItemId
                },
                dataType: 'json',
                success:function(data){
                    if(data.quantityAdded==0){
                        $(__this).parents(".box").remove();
                        $("footer .tab4 .num").css("display","block").html(data.cartItemCount);
                        if(data.cartItemCount==0){
                            $("footer .tab4 .num").css("display","none").html(data.cartItemCount);
                            $("#cart_empty_panel").show();
                        }
                        countTotalPrice();
                        return;
                    }
                    $(__this).removeClass("disable");
                    //修改购物车中显示的物品数量
                    if (data.quantityAdded) {
                        $("footer .tab4 .num").css("display","block").html(data.cartItemCount);
                        $(__this).parent().find("input").val(data.quantityAdded);
                        if(data.quantityAdded==1){
                            $(__this).parent().find(".mnus").addClass("disable");
                        }else{
                            $(__this).parent().find(".mnus").removeClass("disable");
                        }
                        countTotalPrice();
                        showAjaxTips("修改成功！");
                    } else {
                        showAjaxTips(data.error);
                    }
                    console.log(data);
                },
                error:function(data){
                    //$(__this).removeClass("disable");
                    console.log(data);
                    location.reload();
                }
            });
        }
        function countTotalPrice(){
            var totalPrice = 0;
            var totalCount = 0;
            $(".shop-car-list .box").each(function(){
                var price = parseFloat($(this).find(".pice").attr("price"));
                var count = parseInt($(this).find(".number input").val());
                totalPrice+=price*count;
                totalCount+=count;
            });
            $("#cart_total_count").html(totalCount);
            $("#cart_total_price").html(totalPrice.toFixed(2));
            if(totalPrice==0){
                $("#cart_total_price").parents(".fixed-bottom").remove();
            }
        }
    });
</script>