<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:blc="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="/partials/title::title"></title>

    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>
<body class="has-navbar">
<!-- header -->
<header>
    <div class="container">
        <div class="left">
            <a href="/manage/couponAndFiveCard" class="left-arrow">兑换现金券</a>
        </div>
        <div class="center"></div>
        <div class="right"></div>
    </div>
</header>

<!---->
<blc:form th:name="form" th:style="'padding-top:30px;'" th:action="@{/coupon/exchange/confirm}" th:object="${couponExchangeForm}" th:method="post">
    <div class="take-cargo-sm"><em>1</em> 请填写您的信息</div>
    <div class="take-cargo-info">
        <em><img th:src="@{/images/qro_03.png}" width="20"/></em>
        <span>姓 &nbsp;&nbsp;&nbsp;&nbsp; 名：</span>
        <input type="text" th:field="*{reciever}"/>
    </div>
    <div class="take-cargo-info">
        <em><img th:src="@{/images/qro_06.png}" width="20"/></em>
        <span>电 &nbsp;&nbsp;&nbsp;&nbsp; 话：</span>
        <input type="text" th:field="*{recieverPhone}"/>
    </div>
    <div class="take-cargo-sm"><em>2</em> 请服务台工作人员输入验证码</div>
    <div class="pb-box">
        <div class="take-cargo-yz">
            <span>验证码</span>
            <input type="text" th:field="*{verifyCode}"/>
        </div>
    </div>
    <div class="take-cargo-btn">
        <img th:id="submitBtn" th:src="@{/images/new/confirm-coupon-exchange.png}" width="50%"/>
        <input type="submit" name="submit" class="none"/>
    </div>
    <input type="hidden" name="couponXrefId" th:value="${param.couponXrefId[0]}"/>
</blc:form>
<script type="text/javascript" th:inline="text">
    $(function () {
        $("#submitBtn").click(function (e) {
            e.preventDefault();
            var $form = $("form");
            var queryStr = $form.serialize();
            var method = $form.attr("method");
            var url = $form.attr("action");
            $.ajax({
                method: method,
                url: url,
                data: queryStr
            })
                    .done(function (data) {
                        if (data.code == 1000) {
                            location.href = '[[@{/manage/couponAndFiveCard}]]';
                        } else {
                            alert(data.message);
                        }
                    }).fail(function (data) {
                        console.log(data);

                    });
        });
    });
</script>
</body>
</html>