<div th:fragment="slider">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!---->
        <!--<div class="swiper-slide" th:each="product:${products}" th:object="${product}" th:if="${product!=null and product.media!=null and #maps.containsKey(product.media,'primary')}">-->
			<!--&lt;!&ndash;-是否火爆 &ndash;&gt;-->
            <!--<div class="explosive" th:if="*{featuredProduct}"></div>-->
            <!--<div class="img"><img src="../images/ii_11.png" th:src="@{*{media['primary'].url}}" height="100"/></div>-->
            <!--<div class="text">-->
                <!--<div class="t text-singleline" th:text="*{name}">香奈儿清香黛尔香氛香奈儿清香黛尔香氛50ml</div>-->
                <!--<div class="pice text-singleline" th:inline="text">-->
                    <!--<span>￥[[*{defaultSku.salePrice}]]</span>-->
                    <!--<font>￥[[*{defaultSku.retailPrice}]]</font>-->
                <!--</div>-->
                <!--<div class="hidden btn"  th:if="*{featuredProduct}"><a href="#"><img src="../images/in_09.png" height="25"/></a></div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="swiper-slide"><a href=""><img src="/images/new/banner/aomiao.jpg"/></a></div>
        <div class="swiper-slide"><a><img src="/images/new/banner/jianda.jpg"/></a></div>
        <div class="swiper-slide"><a><img src="/images/new/banner/lishi.jpg"/></a></div>
        <div class="swiper-slide"><a><img src="/images/new/banner/luhua.jpg"/></a></div>
        <div class="swiper-slide"><a><img src="/images/new/banner/taiquantaiguo.jpg"/></a></div>
        <div class="swiper-slide"><a><img src="/images/new/banner/zhudisi.jpg"/></a></div>
    </div>
</div>
<div class="bottom-box">
    <div class="swiper-button-prev"><img src="../images/in_14.png" height="15"/></div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"><img src="../images/in_16.png" height="15"/></div>
</div>
</div>