<div class="five-card hidden" th:fragment="productList" th:if="${products}">

    <div th:each="product,state:${products}" th:object="${product}" th:remove="tag">
        <div class="card-box">
            <span class="unlock" th:remove="all">解锁预购</span>
            <a th:href="@{*{url}}">
                <div class="img" style="background-image:url(../images/jjj_03.jpg);"
                     th:style="'background-image:url('+@{*{media['primary']['url']}}+')'"
                     th:if="${#maps.containsKey(product.media,'primary')}"></div>
            </a>
            <div class="t hidden" th:text="*{name}">香奈儿清香黛尔香氛50ml</div>
            <div class="pice hidden" th:inline="text">
                <span>￥[[*{defaultSku.salePrice}]]</span>
                <font>￥[[*{defaultSku.retailPrice}]]</font>
            </div>
            <div class="hidden btn">
                <a href="#" class="addToCartBtn">
                    <img th:src="@{/images/in_48.png}" height="25" th:unless="*{defaultSku.quantityAvailable}" th:attr="data-productid=*{id},data-quantityAvailable=*{defaultSku.quantityAvailable}" />
                    <img th:src="@{/images/in_48_h.png}" height="25" th:if="*{defaultSku.quantityAvailable}" th:attr="data-productid=*{id},data-quantityAvailable=*{defaultSku.quantityAvailable}"/>
                </a>
            </div>
        </div>
        <!--show this add when products count equal 4-->
        <div class="card-5" th:if="${state.count==2 and showAdd==true}"><img th:src="@{/images/udj_03.jpg}"
                                                                             width="100%"/></div>
    </div>
    <!--show this ad when products count less than three-->
    <div class="card-5" th:if="${#lists.size(products) lt 3 and showAdd==true}"><img th:src="@{/images/udj_03.jpg}"
                                                                                     width="100%"/></div>
</div>