<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商品分类</title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

    </script>
    <script type="text/javascript">
        $(function(){

            function win_load(){
                var win_h = $(window).width();
                var con_w = (win_h-34)/2;
                $(".card-box").width(con_w);
                $(".card-box .img").height(con_w);
            }
            win_load();

            $(window).resize(function() {
                win_load();
            });

        })
    </script>
</head>
<body th:inline="text">
<!-- header -->
<div class="header"></div>
<header>
    <div class="l-img">
        <a th:href="@{/}"><img src="images/5_ct_04.png" height="15"/> [[${category.name}]]</a>
    </div>
    <div class="r-img"><img src="images/5_ct_02.png" height="30"/></div>
</header>

<!--  -->

<div class="hidden"><img src="images/in_45.png" width="100%"/></div>
<div class="home-hot">
    <div th:replace="layout/partials/slider::slider"></div>
</div>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script language="javascript">
    var mySwiper = new Swiper('.swiper-container',{
        prevButton:'.swiper-button-prev',
        nextButton:'.swiper-button-next',
        pagination:'.swiper-pagination',
        loop:true,
        loopAdditionalSlides:1,
    })
</script>

<!-- menu -->
<div th:replace="/layout/partials/menu::menu"></div>
<div class="hidden fenlei-title">
    <div class="txt" th:text="${category.name}">可劲儿喝</div>
    <img src="images/kejin_02.jpg" width="100%"/>
</div>
<!--<div class="five-card hidden">

    <div class="card-box">
        <span class="unlock">解锁预购</span>
        <div class="img" style="background-image:url(images/jjj_03.jpg);"></div>
        <div class="t hidden">香奈儿清香黛尔香氛50ml</div>
        <div class="pice hidden">
            <span>￥909</span>
            <font>￥1024</font>
        </div>
        <div class="hidden btn"><a href="#"><img src="images/in_48.png" height="25"/></a></div>
    </div>

    <div class="card-box">
        <div class="img" style="background-image:url(images/jjj_03.jpg);">
            <div class="loot-all"></div>
        </div>
        <div class="t hidden">香奈儿清香黛尔香氛50ml</div>
        <div class="pice hidden">
            <span>￥909</span>
            <font>￥1024</font>
        </div>
        <div class="hidden btn"><a href="#"><img src="images/in_48.png" height="25"/></a></div>
    </div>


    <div class="card-box">
        <div class="img" style="background-image:url(images/jjj_03.jpg);"></div>
        <div class="t hidden">香奈儿清香黛尔香氛50ml</div>
        <div class="pice hidden">
            <span>￥909</span>
            <font>￥1024</font>
        </div>
        <div class="hidden btn"><a href="#"><img src="images/in_48_h.png" height="25"/></a></div>
    </div>

    <div class="card-box">
        <div class="img" style="background-image:url(images/jjj_03.jpg);"></div>
        <div class="t hidden">香奈儿清香黛尔香氛50ml</div>
        <div class="pice hidden">
            <span>￥909</span>
            <font>￥1024</font>
        </div>
        <div class="hidden btn"><a href="#"><img src="images/in_48_h.png" height="25"/></a></div>
    </div>

    <div class="card-box">
        <span class="unlock">女王秘籍</span>
        <div class="img" style="background-image:url(images/jjj_03.jpg);"></div>
        <div class="t hidden">香奈儿清香黛尔香氛50ml</div>
        <div class="pice hidden">
            <span>￥909</span>
            <font>￥1024</font>
        </div>
        <div class="hidden btn"><a href="#"><img src="images/in_48_h.png" height="25"/></a></div>
    </div>

    <div class="card-box">
        <span class="unlock">女王秘籍</span>
        <div class="img" style="background-image:url(images/jjj_03.jpg);"></div>
        <div class="t hidden">香奈儿清香黛尔香氛50ml</div>
        <div class="pice hidden">
            <span>￥909</span>
            <font>￥1024</font>
        </div>
        <div class="hidden btn"><a href="#"><img src="images/in_48_h.png" height="25"/></a></div>
    </div>

</div>-->
<div th:replace="/catalog/partials/productList::productList"></div>
<div class="footer"></div>
<footer>
    <a th:href="@{/}"><img src="images/5_c_09.png" height="25"/></a>
    <a href="#"><img src="images/5_c_11.png" height="25"/></a>
    <a th:href="@{/cart}"><img src="images/5_c_13.png" height="25"/></a>
    <a href="#"><img src="images/5_c_16.png" height="25"/></a>
</footer>

<!-- 浮层 -->
<div class="float-layer none">
    <div class="volume">
        <div class="box">
            <div class="t-img">
                <img src="images/qk_03.png" width="90%" class="img"/>
                <img src="images/qk_03.png" width="90%" style="opacity:0;"/>
            </div>
            <div class="con"><img src="images/volume_3.png" height="100%"/></div>
            <div class="hidden btn">
                <a href="#"><img src="images/qk_11.png" height="25"/></a>
                <a href="#"><img src="images/qk_13.png" height="25"/></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>