<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

    </script>
    <script type="text/javascript">
        $(function(){

            function win_load(){
                var win_h = $(window).width();
                var con_w = (win_h-36)/3;
                $(".card-box").width(con_w);
                $(".card-box .img").height(con_w);
            }
            win_load();

            $(window).resize(function() {
                win_load();
            });

        })
    </script>
</head>
<body>
<!-- header -->
<div class="header"></div>
<header>
    <div class="l-img">
        <a href="#"><img src="images/5_ct_04.png" height="15"/> 商品详情</a>
    </div>
    <div class="r-img"><img src="images/5_ct_02.png" height="30"/></div>
</header>

<!--产品图片-->
<div class="home-hot goods-img">
    <div th:replace="/catalog/partials/productImages::productImages"></div>
</div>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script language="javascript">
    var mySwiper = new Swiper('.swiper-container',{
        prevButton:'.swiper-button-prev',
        nextButton:'.swiper-button-next',
        pagination:'.swiper-pagination',
        loop:true,
        loopAdditionalSlides:1,
    })
</script>

<!--购物车-->
<div class="goods-shopcar">
    <img src="images/gd_03.png" height="25"/>
    <span>13</span>
</div>

<!--商品信息-->
<div class="goods-tab">
    <a href="#" class="active">基本信息</a>
    <a href="#">图文详情</a>
</div>

<div class="goods-info">
    <!--基本信息-->
    <div class="con" th:inline="text" th:object="${product}">

        <h3 th:text="${product.defaultSku.description}">香奈儿清香黛尔香氛50ml香奈儿清香黛尔香氛50ml香奈儿清香黛尔香氛50ml</h3>
        <!--产品参数-->
        <p th:each="option:*{productOptions}">[[${option.label}]]：[[${option.allowedValues[0].attributeValue}]]</p>

        <p>库存：[[${product.defaultSku.quantityAvailable?:'货源充足'}]]</p>
        <p>售出数量：2000</p>
        <p>促销<font>[[${product.promoMessage}]]</font></p>
        <div class="num">
            <div class="box">
                <span class="mnus"><img src="images/gd_07.png" height="20"/></span>
                <span class="number"><input type="text" id="number" value="1"/></span>
                <span class="add"><img src="images/gd_09.png" height="20"/></span>
            </div>
        </div>
        <div class="pice"><span>￥909.00</span> <font>￥909.00</font></div>
    </div>
    <!--图文详情-->
    <div class="con xq none">
        保湿效果很好，上次双十一买的，用了挺好的，这次又买了两套送给姐姐，只是没有上次的赠品多，上次送了三套赠品，这次为啥只有一个小套装呢？为什么没人回答赠品的事情，每次赠品都不一样吗？
    </div>
</div>


<div class="footer"></div>
<footer>
    <a href="#" title="加入购物车"><img src="images/gd_14.png" height="25"/></a>
    <a href="#" title="立即购买"><img src="images/gd_16.png" height="25"/></a>
</footer>

</body>
</html>
<script type="text/javascript">
    $(function(){
        $(".goods-tab a").on("click",function(){
            var i = $(this).index();
            $(this).addClass("active").siblings().removeClass("active");
            $(".goods-info .con").eq(i).show().siblings().hide();
            return false
        });
        $(".mnus").on("click",function(){
            var num = parseInt($("#number").val());
            if(num>1){
                num--
                $("#number").val(num);
            }
        });
        $(".add").on("click",function(){
            var num = parseInt($("#number").val());
            num++
            $("#number").val(num);
        });
    });
</script>