<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="/partials/title::title"></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);

    </script>
    <script type="text/javascript">
        $(function () {

            function win_load() {
                var win_h = $(window).width();
                var con_w = (win_h - 36) / 3;
                $(".card-box").width(con_w);
                $(".card-box .img").height(con_w);
            }

            win_load();

            $(window).resize(function () {
                win_load();
            });

        })
    </script>
    <style>
        .goods-info .num .mnus, .goods-info .num .add {
            font-size: 33px;
            line-height: 33px;
        }

        .goods-info .num .mnus.disable, .goods-info .num .add.disable {
            color: #999999;
        }
    </style>
</head>
<body class="has-navbar has-tabbar" th:attr="data-checkout-url=@{/checkout}">
<header>
    <div class="container">
        <div class="left">
            <a th:href="@{${#httpServletRequest.getHeader('Referer')}}" class="left-arrow">商品详情</a>
        </div>

        <div class="center"></div>
        <div class="right"></div>
    </div>
    <!--<div class="l-img">
        <a th:href="@{${#httpServletRequest.getHeader('Referer')}}"><img th:src="@{/images/5_ct_04.png}" height="15"/>商品详情</a>
    </div>
    <div class="r-img"><img th:src="@{/images/5_ct_02.png}" height="30"/></div>-->
</header>

<!--产品图片-->
<div class="home-hot goods-img">
    <div th:replace="/catalog/partials/productImages::productImages"></div>
</div>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script language="javascript">
    var mySwiper = new Swiper('.swiper-container', {
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        pagination: '.swiper-pagination',
        loop: true,
        loopAdditionalSlides: 1,
    })
</script>

<!--购物车物品数量-->
<a class="goods-shopcar" th:href="@{/cart}">
    <span th:text="${cart.itemCount}" th:style="'display:'+${cart.itemCount==0?'none':'block'}"></span>
</a>

<!--商品信息-->
<div class="goods-tab">
    <a href="#" class="active">基本信息</a>
    <a href="#">图文详情</a>
</div>

<div class="goods-info">
    <!--基本信息-->
    <div class="con" th:inline="text" th:object="${product}">

        <h3 th:text="${product.defaultSku.name}">香奈儿清香黛尔香氛50ml香奈儿清香黛尔香氛50ml香奈儿清香黛尔香氛50ml</h3>
        <!--产品参数-->
        <p th:each="attr:*{productAttributes}" th:if="${#maps.size(product.productAttributes) gt 0}">
            [[${attr.key}]]：<span
                th:remove="tag" th:text="${attr.value}"></span></p>

        <p>库存：[[${product.defaultSku.quantityAvailable?:'货源充足'}]]</p>
        <p>售出数量：[[${product.sales}]]</p>
        <p th:if="${product.promoMessage}">促销：<font>[[${product.promoMessage}]]</font></p>
        <div class="num">
            <div class="box">
                <span class="mnus">-</span>
                <span class="number"><input type="text" id="number" value="1"/></span>
                <span class="add">+</span>
            </div>
        </div>
        <div class="pice"><span>￥[[*{defaultSku.retailPrice}]]</span> <font>￥[[*{defaultSku.salePrice}]]</font></div>
    </div>
    <!--图文详情-->
    <div class="con xq none" th:utext="${product.longDescription}">
        保湿效果很好，上次双十一买的，用了挺好的，这次又买了两套送给姐姐，只是没有上次的赠品多，上次送了三套赠品，这次为啥只有一个小套装呢？为什么没人回答赠品的事情，每次赠品都不一样吗？
    </div>
</div>


<footer>
    <blc:form method="POST" id="addToCartForm" th:action="@{/cart/add}" th:object="${product}">
        <input type="hidden" name="productId" th:value="*{id}"/>
        <!--/*-->
        <input type="hidden" th:each="option:*{productOptions}" th:if="${#lists.size(option.allowedValues)>0}"
               th:name="'itemAttributes['+${option.attributeName}+']'"
               th:value="${option.allowedValues[0].attributeValue}"/>
        <!--*/-->
        <input type="hidden" name="quantity" value="1"/>
    </blc:form>
    <div class="container">
        <a class="add-cart" href="#" title="加入购物车" id="addToCartBtn"></a>
        <a class="buy" href="#" title="立即购买"></a>
    </div>
</footer>

</body>
</html>
<script type="text/javascript">
    $(function () {
        $(".goods-tab a").on("click", function () {
            var i = $(this).index();
            $(this).addClass("active").siblings().removeClass("active");
            $(".goods-info .con").eq(i).show().siblings().hide();
            return false
        });
        $(".mnus").on("click", function () {
            var num = parseInt($("#number").val());
            if (num > 1) {
                num--
                $("#number").val(num);
                $('input[name="quantity"]').val(num);
            }
        });
        $(".add").on("click", function () {
            var num = parseInt($("#number").val());
            num++
            $("#number").val(num);
            $('input[name="quantity"]').val(num);
        });
        //添加购物车绑定事件
        $("#addToCartBtn").click(function (e) {
            e.preventDefault();
            var param = getFormParam();
            console.log(param);
            addProductToCart(param);
        });
        //添加立即购买绑定事件
        $(".buy").click(function (e) {
            e.preventDefault();
            var param = getFormParam();
            param.callback = function () {
                location.href = $("body").data("checkout-url");
            };
            console.log(param);
            addProductToCart(param);
        });

        function getFormParam() {
            var url = $("#addToCartForm").attr("action");
            var productId = $('input[name="productId"]').val();
            var quantity = $('input[name="quantity"]').val();
            var csrfToken = $('input[name="csrfToken"]').val();
            return {url: url, productId: productId, quantity: quantity, csrfToken: csrfToken};
        }

        function addProductToCart(param) {
            $.ajax({
                method: "post",
                url: param.url,
                data: {
                    productId: param.productId,
                    quantity: param.quantity,
                    csrfToken: param.csrfToken
                },
                dataType: 'json'
            }).done(function (data) {
                //修改购物车中显示的物品数量
                if (data.quantityAdded) {
                    $(".goods-shopcar span").css("display","block").html(data.cartItemCount);
                    //执行回调函数
                    if (undefined !== param.callback) {
                        param.callback();
                    } else {
                        showAjaxTips("已放入购物车！");
                    }
                } else {
                    showAjaxTips(data.error);
                }
                console.log(data);
            }).fail(function (data) {
                console.log(data);
                location.reload();
            });
        }


    });
</script>
<div th:replace="/fivecard/partials/share::shareFiveCard"></div>