<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:blc="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="/partials/title::title"></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>
<body>
<!-- header -->
<div class="header"></div>
<header>
    <div class="l-img">
        <a th:href="@{/account/orders}"><img th:src="@{/images/5_ct_04.png}" height="15"/> 提货</a>
    </div>
    <div class="r-img"><img th:src="@{/images/5_ct_02.png}" height="30"/></div>
</header>

<!---->
<blc:form th:name="form" th:action="@{/pickup}" th:method="post" th:id="pickupForm">
    <div class="take-cargo-tit"><img th:src="@{/images/th_03.jpg}" height="35"/></div>
    <div class="take-cargo-sm"><em>1</em> 请填写您的信息</div>
    <div class="take-cargo-info">
        <em><img th:src="@{/images/qro_03.png}" width="20"/></em>
        <span>姓       名：</span>
        <input type="text" name="reciever" th:value="${orderAddress.firstName}"/>
    </div>
    <div class="take-cargo-info">
        <em><img th:src="@{/images/qro_06.png}" width="20"/></em>
        <span>电       话：</span>
        <input type="text" name="recieverPhone"
               th:value="${orderAddress.phonePrimary.phoneNumber}"/>
    </div>

    <div class="hr"></div>

    <div class="take-cargo-sm"><em>2</em> 请服务台工作人员输入验证码</div>
    <div class="pb-box">
        <div class="take-cargo-yz">
            <span>验证码</span>
            <input type="text" name="verifyCode"/>
        </div>
    </div>

    <div class="take-cargo-btn">
        <img th:id="submitBtn" th:src="@{/images/confirm_03.jpg}" height="40"/>
        <input type="submit" name="submit" class="none"/>
    </div>
    <input type="hidden" th:name="orderId" th:id="orderId" th:value="${param.orderId[0]}"/>
</blc:form>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $("#submitBtn").click(function () {
            var $form = $("#pickupForm");
            var queryStr = $("#pickupForm").serialize();
            var method = $form.attr("method");
            var url = $form.attr("action");
            $.ajax({
                        method: method,
                        url: url,
                        data: queryStr
                    })
                    .done(function (data) {
                        if (data.code == 1000) {
                            alert(data.message);
                            location.href = [[@{/account/orders}]];
                        } else {
                            alert(data.message);
                        }
                    });
        });
    });
    /*]]>*/
</script>
</body>
</html>