<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- This file will contain bean overrides for extensions of Broadleaf entities -->
    <!-- For example, if you have a custom class that extends CustomerImpl, you would note that here -->
    <bean id="org.broadleafcommerce.core.catalog.domain.Product"
          class="com.mycompany.sample.core.catalog.domain.CustomProductImpl"
          scope="prototype"/>
    <bean id="com.mycompany.sample.core.catalog.domain.Shop"
          class="com.mycompany.sample.core.catalog.domain.ShopImpl"
          scope="prototype"/>
</beans>