<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- This workflow modification is only necessary if you are managing inventory. This activity has been enabled in the core
                    Broadleaf framework in version 3.2.0+ and should be removed if on that version -->
    <bean id="blAddItemWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
        <property name="activities">
            <list>
                <bean p:order="800" id="checkPromotionStatusActivity"
                      class="com.mycompany.worklow.cart.CheckPromotionStatusActivity"/>
                <bean p:order="900" id="checkPurchageLimitActivity"
                      class="com.mycompany.worklow.cart.CheckFiveCardStatusActivity"/>
                <bean p:order="2010" id="blCheckAddAvailabilityActivity"
                      class="org.broadleafcommerce.core.order.service.workflow.CheckAvailabilityActivity"/>
                <bean p:order="2020" id="checkPurchageLimitActivity"
                      class="com.mycompany.worklow.cart.CheckPurchageLimitActivity"/>
            </list>
        </property>
    </bean>

    <!-- This workflow modification is only necessary if you are managing inventory. This activity has been enabled in the core
                    Broadleaf framework in version 3.2.0+ and should be removed if on that version -->
    <bean id="blUpdateItemWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
        <property name="activities">
            <list>
                <bean p:order="2010" id="blCheckUpdateAvailabilityActivity"
                      class="org.broadleafcommerce.core.order.service.workflow.CheckAvailabilityActivity"/>
                <bean p:order="2020" id="checkPurchageLimitActivity"
                      class="com.mycompany.worklow.cart.CheckPurchageLimitActivity"/>
            </list>
        </property>
    </bean>
    <bean id="incrementProductSalesActivity" class="com.mycompany.worklow.checkout.IncrementProductSalesActivity"/>
    <bean id="decrementProductSalesActivity" class="com.mycompany.worklow.checkout.DecrementProductSalesActivity"/>
    <bean id="incrementInventoryActivity" class="com.mycompany.worklow.checkout.IncrementInventoryActivity"/>
    <bean id="cancelOrderProcessContext" class="com.mycompany.worklow.cancelOrder.CancelOrderProcessContextFactory"/>
    <bean id="cancelOrderWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
        <property name="processContextFactory" ref="cancelOrderProcessContext"/>
        <property name="activities">
            <list>
                <ref bean="decrementProductSalesActivity"/>
                <ref bean="incrementInventoryActivity"/>
            </list>
        </property>
        <property name="defaultErrorHandler">
            <bean class="org.broadleafcommerce.core.workflow.DefaultErrorHandler"/>
        </property>
    </bean>
    <bean id="changeOrderStatusToUnpaidActivity" class="com.mycompany.worklow.checkout.ChangeOrderStatusActivity">
        <property name="orderStatus" ref="unpaidOrderStatus"/>
    </bean>
    <!--customized order status-->
    <bean id="unpaidOrderStatus" class="org.broadleafcommerce.core.order.service.type.OrderStatus" scope="singleton">
        <constructor-arg index="0" value="UNPAID"/>
        <constructor-arg index="1" value="UNPAID"/>
    </bean>
    <bean id="paidOrderStatus" class="org.broadleafcommerce.core.order.service.type.OrderStatus" scope="singleton">
        <constructor-arg index="0" value="PAID"/>
        <constructor-arg index="1" value="PAID"/>
    </bean>
    <bean id="consumedOrderStatus" class="org.broadleafcommerce.core.order.service.type.OrderStatus" scope="singleton">
        <constructor-arg index="0" value="CONSUMED"/>
        <constructor-arg index="1" value="CONSUMED"/>
    </bean>
    <!--    <bean id="blCheckoutWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
            <property name="activities">
                <list>
                    &lt;!&ndash; This activity is only necessary if you are managing inventory. This activity has been enabled in the core
                        Broadleaf framework in version 3.2.0+ and should be removed if on that version &ndash;&gt;
                    <bean p:order="5010" id="blDecrementInventoryActivity" class="org.broadleafcommerce.core.checkout.service.workflow.DecrementInventoryActivity">
                        <property name="rollbackHandler" ref="blDecrementInventoryRollbackHandler" />
                    </bean>

                    &lt;!&ndash; This activity should occur at the very end of the checkout workflow, after everything has been executed &ndash;&gt;
                    <bean p:order="9999999" class="com.mycompany.worklow.checkout.SendOrderConfirmationEmailActivity" />
                </list>
            </property>
        </bean>-->
</beans>