<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title th:replace="/partials/title::title"></title>
		<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
		<style>
			body{padding-bottom:30px !important;}
			.head-img{width:100%;margin-top:7%;}
		</style>
	</head>
	<body class="has-navbar">
		<header>
			<div class="container">
				<div class="left">
					<a href="/index" class="left-arrow">活动细则</a>
				</div>

				<div class="center"></div>
				<div class="right"></div>
			</div>
		</header>
		<img class="head-img" th:src="@{/images/new/activity-guide-head.jpg}"/>
		<div class="guide">
			<div class="head">五折“球”进 足够省—预售规则</div>
			<div class="h-box"><div style="width:25px">一、</div><div class="flex">预售时间：2016年6月27日0：00—2016年7月7日14：00</div></div>
			<div class="h-box"><div style="width:25px">二、</div><div class="flex">预售门店：卜蜂莲花广东省30家门店</div></div>
			<div class="h-box"><div style="width:25px">三、</div><div class="flex">
				【线上五折预售】
				<div class="h-box"><div style="width:15px">1.</div><div class="flex">
					每个微信号均可参于五折线上预购，在线预购下单并成功支付后可随机获得5-88元【全场通用现金券】（每个微信帐号均可获得三次）；
				</div></div>
				<div class="h-box"><div style="width:15px">2.</div><div class="flex">
					五折预售，每天限量前380单。五折商品预售数量有限，抢到就是赚到，抢完即止。
					已购买的订单在【订单】中查看，凭借订单于2016年7月8日-10日至相应门店服务台领取已购买的五折商品；
				</div></div>
				<div class="h-box"><div style="width:15px">3.</div><div class="flex">
					部分五折预购爆款商品，需【激活五折卡】后方可解锁购买；
				</div></div>
				<div class="h-box"><div style="width:15px">4.</div><div class="flex">
					【全场通用现金券】领券时间：6月27日-7月10日，至活动门店服务台领取。用券时间：7月8日-7月10日在活动门店购物，结账时可凭纸质现金券立享优惠。
				</div></div>
			</div></div>
			<div class="h-box"><div style="width:25px">四、</div><div class="flex">
				【电子五折卡】
				<div class="h-box"><div style="width:15px">1.</div><div class="flex">
					会员在预售期间参于活动均可领取【感恩五折卡】；
				</div></div>
				<div class="h-box"><div style="width:15px">2.</div><div class="flex">
					会员领取【感恩五折卡】后，可将【感恩五折卡】分享给自己的好友，好友领取后同享五折优惠。
				</div></div>
				<div class="h-box"><div style="width:15px">3.</div><div class="flex">
					【激活-感恩五折卡】会员只需关注门店进行激活，好友只需填写领取信息进行激活。激活【感恩五折卡】后，即可解锁预购爆品以及获取线下五折商品购买机会；
				</div></div>
				<div class="h-box"><div style="width:15px">4.</div><div class="flex">
					【使用-感恩五折卡】: 2016年7月8日-10日前往卜蜂莲花活动门店内购物，在付款时向收银员出示五折卡条形码，即可享受对应商品五折优惠；
				</div></div>
				<div class="h-box"><div style="width:15px">5.</div><div class="flex">
					已获得的卡券可在活动页面【我的卡券】中查看。
				</div></div>
			</div></div>
			<div class="h-box"><div style="width:25px">五、</div><div class="flex">
				【线下购物返利】<br/>
				五折卡被分享者于2016年7月8日-7月10日前往卜蜂莲花活动门店内使用五折卡购物，单次消费满200元即可获取现金券验证码1张，使用活动中的【扫一扫】扫描该验证码，即可获取全场通用5元现金券1张，同时五折卡分享者获得全场通用5现金券1张。
			</div></div>
			<div class="h-box"><div style="width:25px">六、</div><div class="flex">
				本次活动设以下奖品，综合中奖率为100%,抢完即止。其中爆款商品因不同区域供货情况不同，最终可抢购的商品以活动的抢购页面显示为准：
				<div class="h-box"><div style="width:15px">1.</div><div class="flex">
					爆款商品：红井源压榨一级亚麻籽油1L  29.9元 抢购资格 200个
				</div></div>
				<div class="h-box"><div style="width:15px">2.</div><div class="flex">
					爆款商品：金龙鱼甾醇玉米油2.5L  49.9元 抢购资格 2000个
				</div></div>
				<div class="h-box"><div style="width:15px">3.</div><div class="flex">
					爆款商品：太粮金太粮油粘王5kg袋 49.9元 抢购资格 1000个
				</div></div>
				<div class="h-box"><div style="width:15px">4.</div><div class="flex">
					爆款商品：王老吉金银花露饮料310ml*6  10.9元 抢购资格 1000个
				</div></div>
				<div class="h-box"><div style="width:15px">5.</div><div class="flex">
					爆款商品：丝蕴清润净屑洗发露500ml  17.5元 抢购资格 1000个
				</div></div>
				<div class="h-box"><div style="width:15px">6.</div><div class="flex">
					爆款商品：丝蕴去油净屑洗发露500ml  17.5元 抢购资格 1000个
				</div></div>
				<div class="h-box"><div style="width:15px">7.</div><div class="flex">
					爆款商品：芭菲抑菌配方洗衣液(袋装)套装1.28千克x2 18.9元 抢购资格 2000个
				</div></div>
				<div class="h-box"><div style="width:15px">8.</div><div class="flex">
					5-88元面额全场现金抵用券，8125张
				</div></div>
				<div class="h-box"><div style="width:15px">9.</div><div class="flex">
					感恩五折卡，290000张
				</div></div>

			</div></div>
			<div class="h-box"><div style="width:25px">七、</div><div class="flex">
				在获取和使用奖品中，如果出现违规行为（作弊领取、恶意套现、刷取信誉、虚假交易等），卜蜂莲花将取消您的中奖资格，并有权撤销违规交易，追回奖品，必要时追究法律责任；如出现不可抗力或情势变更的情况（包括但不限于重大自然灾害事件、活动受政府机关指令需要停止或调整的，活动遭受严重网络攻击或因系统故障需要暂停举办的），则卜蜂莲花可依相关法律法规的规定主张免责；
			</div></div>
			<div class="h-box"><div style="width:25px">八、</div><div class="flex">
				本活动最终解释权归卜蜂莲花微信平台所有。
			</div></div>
		</div>
		<div style="text-align:center;padding-top:6%;"><a th:href="@{/index}"><img th:src="@{/images/new/activity-guide-button.png}" width="45%"/></a></div>
		<div th:replace="/fivecard/partials/share::shareFiveCard"></div>
	</body>
</html>