<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title th:replace="/partials/title::title"></title>
		<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
		<style>
			body{background-color:#fff5f6;}
			.head-img{width:100%;margin-top:7%;}
		</style>
	</head>
	<body class="has-navbar">
		<header>
			<div class="container">
				<div class="left">
					<a href="/index" class="left-arrow">活动细则</a>
				</div>

				<div class="center"></div>
				<div class="right"></div>
			</div>
		</header>
		<img class="head-img" th:src="@{/images/new/activity-guide-head.jpg}"/>
		<div class="guide">
			<div class="head">“友”福同享 “蜂”狂五折—预售规则</div>
			<div class="h-box"><div style="width:25px">一、</div><div class="flex">预售时间：2016年5月9日-19日14：00</div></div>
			<div class="h-box"><div style="width:25px">二、</div><div class="flex">预售门店：卜蜂莲花广东省门店</div></div>
			<div class="h-box"><div style="width:25px">三、</div><div class="flex">提货时间：5月20日-22日</div></div>
			<div class="h-box"><div style="width:25px">四、</div><div class="flex">提货地点：各下单门店服务台</div></div>
			<div class="h-box"><div style="width:25px">五、</div><div class="flex">
				【线上五折预售】
				<div class="h-box"><div style="width:15px">1.</div><div class="flex">
					限量预售：线上下单并成功支付后可随机获得5-88元【全场通用现金券】（每个微信帐号限三次）。每天限量前380单，商品抢完即止。部分五折爆款商品，需【激活五折卡】后方可购买；
				</div></div>
				<div class="h-box"><div style="width:15px">2.</div><div class="flex">
					商品领取：已购买的商品在【订单】中查看，凭订单于5月20日-22日至相应门店服务台领取即可 ；
				</div></div>
				<div class="h-box"><div style="width:15px">3.</div><div class="flex">
					【全场通用现金券】领券时间：5月9日-22日，至对应门店服务台领取。
				</div></div>
			</div></div>
			<div class="h-box"><div style="width:25px">六、</div><div class="flex">
				【电子五折卡】
				<div class="h-box"><div style="width:15px">1.</div><div class="flex">
					会员在预售期间参于活动均可领取【电子五折卡】，领取成功后，可将卡领取页面【分享】给自己的好友，好友领取五折卡后可【同享五折】优惠；
				</div></div>
				<div class="h-box"><div style="width:15px">2.</div><div class="flex">
					【激活-电子五折卡】：会员只需关注门店进行激活，好友需填写领取信息进行激活。激活后，即可解锁预售爆品并获取线下五折商品购买机会；
				</div></div>
				<div class="h-box"><div style="width:15px">3.</div><div class="flex">
					【使用-电子五折卡】: 5月20日-22日至卜蜂莲花活动门店购物，在付款时向收银员出示五折卡条形码，即可享受对应商品五折优惠；已获得的卡券可在活动页面【卡券】中查看；
				</div></div>
				<div class="h-box"><div style="width:15px">4.</div><div class="flex">
					每个微信ID至多可获得一张电子五折卡；
				</div></div>
				<div class="h-box"><div style="width:15px">5.</div><div class="flex">
					每卡限返利一次；
				</div></div>

			</div></div>
			<div class="h-box"><div style="width:25px">七、</div><div class="flex">
				【线下购物返利】<br/>
				五折卡【被分享者】于5月20日-22日至卜蜂莲花活动门店使用对应电子五折卡购物，单次消费满200元即可获取现金券验证码1张，使用微信活动页面中的【扫一扫】扫描该验证码，【被分享者及对应分享者】均可获得5元全场通用现金券1张；获得的现金券凭证进入【卡券】，至对应门店服务台领取纸质现金券即可；
			</div></div>
			<div class="h-box"><div style="width:25px">八、</div><div class="flex">
				在获取和使用奖品中，如果出现违规行为（作弊领取、恶意套现、刷取信誉、虚假交易等），卜蜂莲花将取消您的中奖资格，并有权撤销违规交易，追回奖品，必要时追究法律责任；如出现不可抗力或情势变更的情况（包括但不限于重大自然灾害事件、活动受政府机关指令需要停止或调整的，活动遭受严重网络攻击或因系统故障需要暂停举办的），则卜蜂莲花可依相关法律法规的规定主张免责；
			</div></div>
			<div class="h-box"><div style="width:25px">九、</div><div class="flex">
				本活动最终解释权归卜蜂莲花微信平台所有。
			</div></div>
		</div>
		<div style="text-align:center;padding-top:6%;"><a th:href="@{/index}"><img th:src="@{/images/new/activity-guide-button.jpg}" width="45%"/></a></div>
		<div th:replace="/fivecard/partials/share::shareFiveCard"></div>
	</body>
</html>