<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Insert title here</title>
		<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
		<style>
			body{background-color:#fff5f6;}
			.head-img{width:100%;margin-top:7%;}
			p{padding:3%;font-size:14px;}
		</style>
	</head>
	<body>
		<img class="head-img" th:src="@{/images/new/activity-guide-head.jpg}"/>
		<p>文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容</p>
		<p>文字内容</p>
		<div style="text-align:center;padding-top:6%;"><a th:href="@{/index}"><img th:src="@{/images/new/activity-guide-button.jpg}" width="45%"/></a></div>
	</body>
</html>