<!DOCTYPE html>
<html th:inline="text" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="/partials/title::title"></title>
    <div th:replace="/partials/header::header"></div>
    <link rel="stylesheet" th:href="@{/css/five_card_share.css}"/>
</head>
<body class="has-navbar">
<!--抢五折卡标题-->
<header th:replace="fivecard/partials/header::header(targetUrl='/fiveCard')"></header>
<!--已分享的状态加上shared类名即可-->
<div class="card5-share-main img-panel">
    <img th:src="@{/images/new/card-5-share/bg.jpg}"/>
    <div class="link me" th:object="${owner}">
        <span class="bg link"></span>
        <img class="link avatar" th:src="@{*{headImageUrl}}"/>
        <span class="link name" th:text="*{nickname}">我的名字很长很长</span>
    </div>
    <div th:class="link" th:each="i:${#numbers.sequence(1,5)}"
         th:classappend="${#lists.size(owner.followers)>=i} ? 'shared friend__${i}__':'friend__${i}__'">
        <span class="bg link"></span>
        <div th:if="${#lists.size(owner.followers)>=i}" th:object="${owner.followers[i-1]}" th:remove="tag">
            <img class="link avatar" th:src="@{*{headImageUrl}}"/>
            <div class="link text">
                <span class="name" th:text="*{nickname}">爱丽丝</span><br/>领取了五折卡！
            </div>
        </div>
    </div>
			<span class="link" style="width:45%;left:14%;bottom:94.5%;color:#ffcf01;font-size:12px;line-height:12px">
				你已分享给<span style="font-size:20px;line-height:20px;" th:text="${#lists.size(owner.followers)}">12</span>位好友
			</span>
			<span class="link" style="left:66%;bottom:94.5%;color:#ffcf01;font-size:12px;">
				荣誉称号<span style="font-size:20px;line-height:20px;" th:text="${owner.title}">人气王</span>
			</span>
    <span onclick="openShareGuide()" class="link" style="width:36%;height:5.5%;left:31%;top:63%;"></span>
</div>
<div class="card5-share-text guide">
    <div class="head">叫上真朋友，牵手去购物—分享规则</div>
    <div class="h-box">
        <div style="width:25px">一、</div>
        <div class="flex">活动时间：2016年5月9¬日—22日</div>
    </div>
    <div class="h-box">
        <div style="width:25px">二、</div>
        <div class="flex">活动范围：参与领取【电子五折卡】会员用户</div>
    </div>
    <div class="h-box">
        <div style="width:25px">三、</div>
        <div class="flex">
            分享方式：
            <div class="h-box">
                <div style="width:15px">1.</div>
                <div class="flex">
                    使用微信分享功能，分享当前五折卡页面给自己的好友；
                </div>
            </div>
            <div class="h-box">
                <div style="width:15px">2.</div>
                <div class="flex">
                    好友点击分享链接，填写指定信息即可免费领取【电子五折卡】；
                </div>
            </div>
            <div class="h-box">
                <div style="width:15px">3.</div>
                <div class="flex">
                    好友领取成功即分享成功，您的好友和您可同享线下五折商品优惠；
                </div>
            </div>
        </div>
    </div>
    <div class="h-box">
        <div style="width:25px">四、</div>
        <div class="flex">
            线下购物返利<br/>
            五折卡【被分享者】于5月20日-22日至卜蜂莲花活动门店使用对应电子五折卡购物，单次消费满200元即可获取现金券验证码1张，使用微信活动页面中的【扫一扫】扫描该验证码，【被分享者及对应分享者】均可获得5元全场通用现金券1张；获得的现金券凭证进入【我的卡券】，至对应门店服务台领取纸质现金券即可；
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        FastClick.attach(document.body);
    });
    function openShareGuide() {
        $("body").append('<div class="share-guide-layer" onclick="this.parentNode.removeChild(this)"></div>')
    }
</script>
<div th:replace="fivecard/partials/share::shareFiveCard"></div>
</html>