<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:replace="/partials/title::title"></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>
<body class="has-navbar">
<!-- header -->
<header>
    <div class="container">
        <div class="left">
        </div>

        <div class="center">兑换</div>
        <div class="right"></div>
    </div>
</header>

<!---->
<div class="coupon-exchange">
    <div class="img-panel head">
        <img th:src="@{/images/new/coupon/exchange-head.jpg}" width="100%"/>
        <span class="link" th:text="${card.value}">6</span>
    </div>
    <div class="text-content">
        <div style="text-align:center;">超市购物任意消费立减00元</div>
        <br/>
        <div class="h-box">
            <span style="width:40px;">（1）</span><span class="flex">请在2016年3月6日前至广东活动门店领取</span>
        </div>
        <div class="h-box">
            <span style="width:40px;">（2）</span><span class="flex">2016年3月4日-3月6日在活动门店购物，结账时可凭纸质现金券立享优惠</span>
        </div>
        <a th:href="@{'/coupon/exchange?couponXrefId='+${card.id}}" title="兑换" class="button"><img th:src="@{/images/new/coupon/exchange-button.png}" width="100%"/></a>
    </div>
</div>


</body>
</html>