<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:replace="/partials/title::title"></title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>
<body class="has-navbar">
<!-- header -->
<header>
    <div class="container">
        <div class="left">
            <a href="/manage/couponAndFiveCard" class="left-arrow">兑换现金券</a>
        </div>

        <div class="center"></div>
        <div class="right"></div>
    </div>
</header>

<!---->
<div class="coupon-exchange">
    <div class="img-panel head">
        <img th:src="@{/images/new/coupon/exchange-head.jpg}" width="100%"/>
        <div class="number">
            <span class="num" th:text="${card.value}">6</span>
            <span class="unit">元</span>
        </div>
    </div>
    <div class="text-content">
        <div style="text-align:center;" th:text="${card.description}">超市购物任意消费立减00元</div>
        <br/>
        <div class="h-box">
            <span style="width:40px;">（1）</span><span class="flex" th:text="${(card.couponType>=4)?'请在2016年5月20日-6月1日至广东活动门店领取':'请在2016年5月9日-5月22日至广东活动门店领取'}">请在2016年5月9日-5月22日至广东活动门店领取</span>
        </div>
        <div class="h-box">
            <span style="width:40px;">（2）</span><span class="flex" th:text="${(card.couponType>=4)?'2016年5月20日-6月1日在活动门店购物，结账时可凭纸质现金券立享优惠':'2016年5月20日-5月22日在活动门店购物，结账时可凭纸质现金券立享优惠'}">2016年5月9日-5月22日在活动门店购物，结账时可凭纸质现金券立享优惠</span>
        </div>
        <a th:if="${card.status==false}" th:href="@{'/coupon/exchange?couponXrefId='+${card.id}}" title="兑换" class="button"><img th:src="@{/images/new/coupon/exchange-button.jpg}" width="100%"/></a>
        <a th:if="${card.status==true}" th:href="@{${#httpServletRequest.getHeader('Referer')}}" title="返回" class="button"><img th:src="@{/images/new/coupon/return.jpg}" width="100%"/></a>
    </div>
</div>
<div th:replace="/fivecard/partials/share::shareFiveCard"></div>

</body>
</html>