<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>我的卡券</title>
    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
    <script type="text/javascript">
        $(function () {

            function win_load() {
                var win_h = $(window).width();
                var con_w = (win_h - 34) / 2;
                $(".card-volume .box").width(con_w);
                $(".card-volume .img").height(con_w * 534 / 697);
            }

            win_load();

            $(window).resize(function () {
                win_load();
            });

        })
    </script>
</head>
<body>
<!-- header -->
<div class="header"></div>
<header>
    <div class="l-img"><img th:src="@{/images/in_1_01.png}" height="30"/></div>
    <div class="r-img"><img th:src="@{/images/in_1_03.png}" height="30"/></div>
    <div class="text">我的卡卷</div>
</header>

<!---->

<!--卡券为空-->
<div th:remove="tag" th:if="${cards==null or #lists.size(cards)==0}">
    <div class="card-volume-empty">
        <img th:src="@{/images/empty_03.jpg}" width="50%"/>
    </div>
    <div class="card-volume-empty">
        <a th:href="@{/fiveCard/issue}">马上去领取</a>
    </div>
</div>
<!---->

<!--卡券不为空-->
<div class="card-volume hidden" th:unless="${cards==null || #lists.size(cards)==0}" th:inline="text">
    <div th:each="card:${cards}" th:remove="tag">
        <!--        <div class="box" th:if="${card.type==0 and card.status==true}">
                    <div class="img">
                        <img th:src="@{/images/5card_jh.jpg}"/>
                    </div>
                    <div class="bm">请在2016年3月4日-6日前往活动门店内使用</div>
                </div>-->
        <div class="box" th:if="${card.type==0}" th:attr="data-card-status=${card.status},data-type=${card.type}">
            <div class="img">
                <img th:src="@{/images/5card_jh.jpg}" th:if="${card.status}"/>
                <img th:src="@{/images/5card_wjh.jpg}" th:unless="${card.status}"/>
            </div>
            <div class="bm" th:if="${card.status}">请在2016年3月4日-6日前往活动门店内使用</div>
            <div class="bm" th:unless="${card.status}">请在2016年3月6日前激活</div>
        </div>
        <div class="box" th:if="${card.type==1}" th:attr="data-card-status=${card.status},data-type=${card.type}">
            <div class="con">
                <div class="active" th:if="${card.status} eq true">已领</div>
                <div class="pice"><font th:text="${card.value}"></font> <span><em></em><em>元</em></span></div>
                <div class="p-tx">购买满[[${card.value}]]元可以用</div>
                <img th:src="@{/images/vm_03.png}" width="100%"/>
            </div>
            <div class="bm">请在2016年3月4日-6日前往活动门店内使用</div>
        </div>
    </div>
</div>
<!---->

<!--<div class="footer"></div>
<footer>
    <a href="#" title="首页"><img th:src="@{/images/5_c_09.png}" height="25"/></a>
    <a href="#" title="我的卡卷"><img th:src="@{/images/5_c_11.png}" height="25"/></a>
    <a href="#" title="我的购物车"><img th:src="@{/images/5_c_13.png}" height="25"/></a>
    <a href="#" title="我的订单"><img th:src="@{/images/5_c_16.png}" height="25"/></a>
</footer>-->
<div th:replace="partials/footer::footer"></div>

</body>
</html>
<script type="text/javascript" th:inline="text">
    /*$(function () {
     $(".mnus").on("click", function () {
     var num = parseInt($("#number").val());
     if (num > 1) {
     num--
     $("#number").val(num);
     }
     });
     $(".add").on("click", function () {
     var num = parseInt($("#number").val());
     num++
     $("#number").val(num);
     });
     });*/
    $(function () {
        $("[data-card-status=false]").click(function () {
            var $this = $(this);
            var type = $this.data("type");
            if(type==0) {
                location.href = '[[@{/fiveCard}]]';
            }else {

            }
        })
    });

</script>