<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="/partials/title::title"></title>

    <div th:replace="/partials/header::header"></div>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>

</head>
<body class="has-tabbar has-navbar">
<!-- header -->
<header>
    <div class="container">
        <div class="left">
        </div>

        <div class="center">我的卡券</div>
        <div class="right"></div>
    </div>
</header>

<!---->
<div th:remove="tag" th:if="${cards==null or #lists.size(cards)==0}">
    <div class="card-volume-empty">
        <img th:src="@{/images/empty_03.jpg}" width="50%"/>

        <div class="color-empty-gray">您还没有领取到任何卡券，赶快去领取吧！</div>
    </div>
    <div class="card-volume-empty">
        <a th:href="@{/fiveCard/issue}">马上去领取</a>
    </div>
</div>
<!--这里要注意的是img-panel里面的图片的宽高比例一定要一样-->
<div class="coupon-list" th:unless="${cards==null || #lists.size(cards)==0}" th:inline="text">
    <div th:each="card,iterStat:${cards}" th:remove="tag">


        <div class="coupon" th:if="${card.type==0}" th:attr="data-card-status=${card.status},data-type=${card.type}">
            <div class="img-panel">
                <img th:src="'/images/new/index/'+${card.status?'card-5-1.jpg':'card-5-1-gray.jpg'}"/>
            </div>
            <div class="desc" th:text="${card.status?'请于2016年5月20日-22日至各活动门店使用':'请于2016年5月19日前激活使用'}">请于2020年使用</div>
        </div>
        <div class="coupon" th:if="${card.type==1}"
             th:attr="data-card-status=${card.status},data-type=${card.type},data-coupon-xref=${card.id},coupontype=${card.couponType}">
            <div class="img-panel">
                <img th:src="@{${card.couponType==4||card.couponType==5?'/images/new/coupon/coupon_2_bg.png':'/images/new/coupon/coupon_1_bg.jpg'}}"/>
                <a class="num-panel"><span class="num" th:text="${card.value}">5</span><span class="unit">元</span></a>
                <span class="cdesc">全场通用现金券</span>
                <span class="status" th:if="${card.status}">已兑换</span>
                <span class="status" th:unless="${card.status}">未兑换</span>
            </div>
            <div class="desc"
                 th:text="${card.couponType==4||card.couponType==5?'请于2016年5月20日-6月1日至各活动服务台领取':'请于2016年5月9日-5月22日至各活动服务台领取'}"></div>
        </div>
        <div style="float:left;width:100%;height:1px;" th:if="${iterStat.index%2==1}"></div>
    </div>
</div>

<!---->
<div th:replace="partials/footer::footer"></div>

</body>
</html>
<script type="text/javascript" th:inline="text">
    $(function () {
        $(".mnus").on("click", function () {
            var num = parseInt($("#number").val());
            if (num > 1) {
                num--
                $("#number").val(num);
            }
        });
        $(".add").on("click", function () {
            var num = parseInt($("#number").val());
            num++
            $("#number").val(num);
        });
    });
    /*<![CDATA[*/
    $(function () {
        $("[data-card-status]").click(function () {
            var $this = $(this);
            var type = $this.data("type");
            if (type == 0) {
                location.href = '[[@{/fiveCard}]]'
            } else {
                var url = '[[@{/coupon/exchange/view}]]';
                var couponXrefId = $this.data("coupon-xref");
                location.href = url + "?couponXrefId=" + couponXrefId;
            }
        })
    });
    $(function () {
        var param = decodeURIComponent(location.search).split("=");
        if (decodeURIComponent(location.search).indexOf("message") > 0) {
            alert(param[1]);
        }
    });
    /*]]>*/
</script>