<div th:fragment="footer" th:remove="tag" th:inline="text">
    <footer th:attr="data-item-count=${cart.itemCount},data-unlock=${isUnlocked}">
        <div class="container">
            <a th:if="${showHomeIcon?:true}" th:href="@{/}" title="首页" class="tab1"></a>
            <a th:if="${showCouponIcon?:true}" class="tab2" th:href="@{/manage/couponAndFiveCard}" title="我的卡券"></a>
            <a th:if="${showQrScanIcon?:true}" class="tab3">
                <span th:id="qrscan"></span>
            </a>
            <a th:if="${showCartIcon?:true}" th:href="@{/cart}" th:id="myCart" title="我的购物车" class="tab4"><span
                    th:style="'display:'+${cart.itemCount==0?'none':'block'}" class="num"
                    th:text="${cart.itemCount}">0</span></a>
            <a th:if="${showOrderIcon?:true}" th:href="@{/account/orders}" title="我的订单" class="tab5"></a>
        </div>
    </footer>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script th:src="@{/js/common.js}"></script>
    <script type="text/javascript">
        //购物车
        $(function () {
            //添加购物车绑定事件
            $("body").on("click", ".addToCartBtn img", function (e) {
                e.preventDefault();
                var quantityavailable = $(this).data("quantityavailable");
                var unlock = $("footer").data("unlock");
                if (!quantityavailable || unlock == 'false' || unlock == false) {
                    //alert("暂时无货");
                    return;
                }
                var url = $("#addToCartForm").attr("action");
                var productId = $(this).data("productid");
                var quantity = 1;
                var csrfToken = $('input[name="csrfToken"]').val();
                $.ajax({
                    method: "post",
                    url: url,
                    data: {
                        productId: productId,
                        quantity: quantity,
                        csrfToken: csrfToken
                    },
                    dataType: 'json'
                }).done(function (data) {
                    if (data.quantityAdded) {
                        $(".container .tab4 .num").css("display", "block").html(data.cartItemCount);
                        showAjaxTips("已放入购物车！");
                    } else {
                        showAjaxTips(data.error);
                    }
                }).fail(function (data) {
                    console.log(data);
                    location.reload();
                });
            });
        });
        //微信
        $(function () {
            wx.config({
                debug: false,
                appId: 'wx937fba8914a5d9a9',
                timestamp: '[[${ticketMap.timestamp}]]',
                nonceStr: '[[${ticketMap.nonce}]]',
                signature: '[[${ticketMap.signature}]]',
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'scanQRCode']
            });
            wx.ready(function () {
                //分享给朋友
                wx.onMenuShareAppMessage({
                    title: '[[${shareTitle}]]', // 分享标题
                    desc: '[[${shareDesc}]]', // 分享描述
                    link: '[[${shareLink}]]', // 分享链接
                    imgUrl: '[[${shareImageUrl}]]', // 分享图标
                    type: 'link', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数
                        fenxiang(3);
                        //添加分享次数
                        $.ajax({
                            url: "/index.php?s=/Index/addCount",
                            type: 'post',
                            dataType: 'json',
                            data: {t: 2},
                            success: function (data, textStatus, xhr) {

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                            }
                        });

                    },
                    cancel: function () {

                    }
                });
                //分享到朋友圈
                wx.onMenuShareTimeline({
                    title: '[[${shareTitle}]]', // 分享标题
                    desc: '[[${shareDesc}]]', // 分享描述
                    link: '[[${shareLink}]]', // 分享链接
                    imgUrl: '[[${shareImageUrl}]]', // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                        fenxiang(3);
                        //添加分享次数
                        $.ajax({
                            url: "/index.php?s=/Index/addCount",
                            type: 'post',
                            dataType: 'json',
                            data: {t: 3},
                            success: function (data, textStatus, xhr) {

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                            }
                        });
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                //微信扫一扫功能
                $("body").on("click", "#qrscan", function () {
                    wx.scanQRCode({
                        needResult: 1,
                        desc: 'scanQRCode desc',
                        success: function (res) {
                            qrScanCallback(res);
                        }
                    });
                });

            });
        });
        $(function () {
            $("#getFiveCard").click(function () {
                location.href = "[[@{/fiveCard/issue}]]";
            });
        });
        function qrScanCallback(res) {
            //mock data
//            res = {"resultStr": "CODE_128,1234567891245", "errMsg": "scanQRCode:ok"};
            //检测是否扫码成功
            if (res.errMsg != "scanQRCode:ok") {
                alert(res.errMsg);
                return;
            }
            //提取二维码
            var code = res.resultStr.split(",")[1];
            console.log("the qr code==>" + code);
            exhangeQRCode(code);
            //兑换二维码
            function exhangeQRCode(code) {
                $.get("[[@{/qr/exchange/}]]" + code)
                        .done(function (data) {
                            console.log(data);
                            if (data.code === 1000) {
                                var token = data.others.issueCouponToken;
                                issueCoupon(token);
                            } else {
                                alert(data.message);
                            }
                        })
                        .fail(function (data) {
                            console.log(data);
                            alert(data.responseText);
                        });
            }

            //发放优惠券
            function issueCoupon(token) {
                var url = '[[@{/coupon/issue/offline}]]' + '?token=' + token;
                $.get(url).done(function (res) {
                    if (res.code == 1000) {
                        dialogUtil.couponWindow.show();
                    } else {
                        alert("优惠券已派完");
                    }
                });
            }
        }
    </script>
</div>