<div th:fragment="header">
    <link rel="stylesheet" href="../css/swiper.min.css" th:href="@{/css/swiper.min.css}"/>
    <link type="text/css" href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript" src="../js/fastclick.js" th:src="@{/js/fastclick.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
	<script th:inline="text">
		//<![CDATA[
		var ajaxTipsTimer,ajaxTipsTimer2;
		function showAjaxTips(tips){
			clearTimeout(ajaxTipsTimer);
			clearTimeout(ajaxTipsTimer2);
			if($(".ajax-tips").length==0){
				$("body").append('<div class="ajax-tips"><span class="content"></span></div>')
			}
			$(".ajax-tips").css("display","block");
			$(".ajax-tips .content").html(tips);
			setTimeout(function(){
				$(".ajax-tips").css("opacity",1);
			},1);
			var showtime = tips.length*200;
			showtime = showtime<2000?2000:showtime;
			ajaxTipsTimer = setTimeout(function(){
				$(".ajax-tips").css("opacity",0);
				ajaxTipsTimer2 = setTimeout(function(){
					$(".ajax-tips").css("display","none");
				},800);
			},showtime)
		}



		$(function () {
			//添加购物车绑定事件
			$("body").on("click", ".addToCartBtn img", function (e) {
				e.preventDefault();
				var __this = this;
				var quantityavailable = $(this).data("quantityavailable");
				var isFeaturedProduct = $(this).data("isfeaturedproduct");
				var unlock = $("footer").data("unlock")==null?$("body").data("unlock"):$("footer").data("unlock");
				if (quantityavailable==0 || (isFeaturedProduct&&!unlock)) {
					//alert("暂时无货");
					return;
				}
				var url = $("#addToCartForm").attr("action");
				var productId = $(this).data("productid");
				var quantity = 1;
				var csrfToken = $('input[name="csrfToken"]').val();
				$.ajax({
					method: "post",
					url: url,
					data: {
						productId: productId,
						quantity: quantity,
						csrfToken: csrfToken
					},
					dataType: 'json'
				}).done(function (data) {
					if($(__this).hasClass("right-now"))location.href = "/checkout";
					if (data.quantityAdded) {
						$(".container .tab4 .num").css("display", "block").html(data.cartItemCount);
						showAjaxTips("已放入购物车！");
					} else {
						showAjaxTips(data.error);
					}
				}).fail(function (data) {
					console.log(data);
					//location.reload();
				});
			});
		});
		//]]>
	</script>
	<div th:replace="/partials/piwik::piwik"></div>
</div>