<div th:fragment="header">
    <link rel="stylesheet" href="../css/swiper.min.css" th:href="@{/css/swiper.min.css}"/>
    <link type="text/css" href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript" src="../js/fastclick.js" th:src="@{/js/fastclick.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
</div>